<html>

  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script src="js/models.js"></script>
    <script src="js/mainView.js"></script>
    <script src="js/detailsView.js"></script>
    <script src="js/wineView.js"></script>
    <script src="js/app.js"></script>
    <script type="text/template" id="wine_list">
<li><a href="#" id=<%=id%>><%=name%></a></li>
	
</script>
<script type="text/template" id="wine-details">
<button id="btnAdd">New Wine</button>
<div class="form-left-col">

<label>Id:</label>
<input id="wineId" name="id" type="text" value="<%= id %> "disabled />

<label>Name:</label>
<input type="text" id="name" name="name" value="<%= name %>" required/>

<label>Grapes:</label>
<input type="text" id="grapes" name="grapes" value="<%= grapes %>"/>

<label>Country:</label>
<input type="text" id="country" name="country" value="<%= country %>"/>

<label>Region:</label>
<input type="text" id="region" name="region"  value="<%= region %>"/>

<label>Year:</label>
<input type="text" id="year" name="year"  value="<%= year %>"/>
<br>
<button id="btnSave">Save</button>
<button id="btnDelete">Delete</button>
</div>

<div id="rightArea">
<img height="300" src="pics/<%= picture %>"/>
<label>Notes:</label>
<textarea id="description" name="description"><%= description %></textarea>
</div>

</script>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
 <body>
<h1>Welcome to the Wine List Application</h1>
<div class="leftArea">
<ul id="wineList"></ul>
</div>
<form id="wineForm">
<div id="mainArea">
</div>
</form>

</body>

</html>
